* {
    margin: 0;
    
    font-family: 'Work Sans', sans-serif;

}

/* header section */
.header-content {
    background-image: url('../images/banner/banner1.png');
    padding: 30px;
    width: 1600px;
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color:#151414; 
    text-align: right;  
    margin: 240px 270px 24px 845px; 


}
.header-description {
    
  text-align: right;
  color: #444343;
  font-size: 16px;
  margin: 24px 230px 32px 870px;
  padding: 0px 60px;

}
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    margin: 30px 100px 160px 1130px;
}
.container{
    display: flex;
}
.person{
    margin: 130px 200px;
}
.text-heading{
    margin: 370px 350px 24px 0px ;
    
}
.text{
    margin: 24px 200px 16px 0px;
   
}
 ul {
    list-style: none;
  }
 ul li:before {
    content: '✓';
  }

/* My plan */

.plan-container{
    display: flex;
    gap: 20px;
}
.plan-heading{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.plan{

    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 150px;
}
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    
}
.plan-description{
    color: #757575;
    font-size: 16px;
}
/* contact style */
.call-now{
    
    background-image: url('../images/watch.png');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); 
    padding:  130px 230px;
    background-repeat: no-repeat;
    margin: 130px 230px;
    border-radius: 5px;
    
}

.call-heading{
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -50px;
    margin-right: -50px;

    margin-bottom: 24px;
    padding-right: 160px;
    
    
}
.call-btn{
    color: #fb4242;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #f5f0ed;
}
